<?xml version="1.0" encoding="UTF-8"?>
<suite name="ParallelAppiumTestSuite" parallel="tests" thread-count="2">
    <test name="emulator1">
        <parameter name="deviceName" value="emulator1"/>
        <parameter name="udid" value="emulator-5554"/>
        <parameter name="platformVersion" value="11.0"/>
        <parameter name="systemPort" value="8200"/>
        <parameter name="appiumPort" value="4723"/>
        <classes>
            <class name="runners.TestRunner"/>
        </classes>
    </test>
    <test name="emulator2">
        <parameter name="deviceName" value="emulator2"/>
        <parameter name="udid" value="emulator-5556"/>
        <parameter name="platformVersion" value="11.0"/>
        <parameter name="systemPort" value="8201"/>
        <parameter name="appiumPort" value="4725"/>
        <classes>
            <class name="runners.TestRunner"/>
        </classes>
    </test>


</suite>
